
.vs/monopoly/FileContentIndex/885d3758-87ab-461a-9fa3-02c2f9ed14c4.vsidx
.vs/monopoly/FileContentIndex/96f87feb-45a7-4e71-919f-90405e65015e.vsidx
.vs/monopoly/FileContentIndex/fc006a84-3b3a-4141-a987-931d40c50995.vsidx
.vs/monopoly/FileContentIndex/read.lock
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/monopoly.assets.cache
obj/Debug/net6.0/monopoly.csproj.AssemblyReference.cache
obj/Debug/net6.0/monopoly.GeneratedMSBuildEditorConfig.editorconfig
obj/project.nuget.cache
obj/project.assets.json
obj/monopoly.csproj.nuget.g.props
obj/monopoly.csproj.nuget.dgspec.json
obj/Debug/net6.0/monopoly.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/monopoly.assets.cache
.vs/monopoly/DesignTimeBuild/.dtbcache.v2
.vs/monopoly/FileContentIndex/20ff3196-2e27-4d24-8f86-faf117e3d092.vsidx
.vs/monopoly/FileContentIndex/506a6ca8-4376-4314-a895-d36c3abbea8a.vsidx
.vs/monopoly/FileContentIndex/5c19b4f7-f9e0-4c99-874e-d37446794889.vsidx
.vs/monopoly/FileContentIndex/d034b58e-84a1-48aa-b355-b4b1cb662867.vsidx
.vs/monopoly/FileContentIndex/f0565eec-ad7d-4eda-8a2b-9908fc58de56.vsidx
.vs/monopoly/v17/.suo
bin/Debug/net6.0/monopoly.dll
bin/Debug/net6.0/monopoly.exe
bin/Debug/net6.0/monopoly.pdb
obj/Debug/net6.0/monopoly.csproj.AssemblyReference.cache
obj/Debug/net6.0/monopoly.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/monopoly.csproj.FileListAbsolute.txt
obj/Debug/net6.0/monopoly.dll
obj/Debug/net6.0/monopoly.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/monopoly.genruntimeconfig.cache
obj/Debug/net6.0/monopoly.pdb
obj/Debug/net6.0/ref/monopoly.dll
obj/Debug/net6.0/refint/monopoly.dll
obj/monopoly.csproj.nuget.dgspec.json
obj/monopoly.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/project.nuget.cache
obj/project.assets.json
obj/monopoly.csproj.nuget.dgspec.json
.vs/monopoly/FileContentIndex/6bd1be0c-3850-4afc-b9a0-30fec259efca.vsidx
.vs/monopoly/FileContentIndex/506a6ca8-4376-4314-a895-d36c3abbea8a.vsidx
obj/Debug/net6.0/monopoly.csproj.AssemblyReference.cache
obj/Debug/net6.0/monopoly.csproj.FileListAbsolute.txt
obj/Debug/net6.0/monopoly.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/monopoly.genruntimeconfig.cache
