
.vs/monopoly/FileContentIndex/885d3758-87ab-461a-9fa3-02c2f9ed14c4.vsidx
.vs/monopoly/FileContentIndex/96f87feb-45a7-4e71-919f-90405e65015e.vsidx
.vs/monopoly/FileContentIndex/fc006a84-3b3a-4141-a987-931d40c50995.vsidx
.vs/monopoly/FileContentIndex/read.lock
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/monopoly.assets.cache
obj/Debug/net6.0/monopoly.csproj.AssemblyReference.cache
obj/Debug/net6.0/monopoly.GeneratedMSBuildEditorConfig.editorconfig
